.details-main {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.details-full-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interaction-buttons {
    margin: 30px;
}

.additional-details {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.add-remove-buttons {
    margin: 40px;
}