.to-do-today {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.to-do-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.to-do-tomorrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.to-do-tomorrow-cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.result-card {
    flex: 0 0 auto;
}