.register-box {
    display: flex;
    flex-direction: column;
}

.register-top {
    display: flex;
    flex-direction: column;
}

.login-button-register {
    display: flex;
    justify-content: center;
}