.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #032016;
  margin: 0 0 30px;
  background-color: #C4D7B2;
  overflow: hidden;
  top: 0;
  width: 100%;
}

.flower-pic {
  max-height: 100px;
  max-width: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.page-logo {
  display: flex;
  flex-direction: row;
}

.flower-icon {
  border-radius: 50%;

}

.logo-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #032016;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #032016;
  background-color: #C4D7B2;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #A0C49D;
}
